body {
  background-color: #333;
}

#wrapper {
  background-color: silver;
  color: black;
  width: 80%;
  margin: auto;
  min-width: 960px;
  max-width: 1200px;
}

header {
  border-bottom: black 2px solid;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

nav {
  margin-top: 15px;
}

nav ul {
  list-style-type: none;
  margin-left: 0;
  padding: 10px;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  padding: 20px;
  font-weight: bold;
  display: inline-block;
  border: 2px solid white;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: black;
  background-position: right -100px;
}

footer {
  font-size: 70%;
  text-align: center;
  clear: right;
  background-color: silver;
  padding: 20px;
}

.flex {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

fieldset {
  margin-bottom: 20px;
}

form {
  max-width: 480px;
}

input {
  height: 40px;
}
