body {
  background-color: aquamarine;
}

#wrapper {
  background-color: aquamarine;
  color: black;
  width: 80%;
  margin: auto;
  min-width: 960px;
  max-width: 1200px;
}

h1 {
  color: black;
  width: 90%;
  margin: auto;
  min-width: 960px;
  max-width: 1200px;
  height: 200px;
}

h1 .content-container {
  padding: 20px; /* Adjust the padding as needed */
}

p {
  margin-bottom: 20px;
}

nav {
  margin-top: 40px;
}

nav ul {
  list-style-type: none;
  margin-left: 0;
  padding: 10px;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  padding: 20px;
  font-weight: bold;
  display: inline-block;
  border: 2px solid white;
  background-image: url("sprite.png");
  background-repeat: no-repeat;
  background-position: right 0;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: black;
  background-position: right -100px;
}

footer {
  font-size: 70%;
  text-align: center;
  clear: right;
  background-color: aquamarine;
  padding: 20px;
}
